input {
  height: 40px;
  border-radius: 8px;
  border: none;
  margin-bottom: 16px;
  padding: 4px;
  font-size: 20px;
}

input:hover {
  cursor: pointer;
}

input[type=date]:invalid::-webkit-datetime-edit {
  color: rgb(117, 117, 117);

}

input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-bottom: 40px;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}

.fake-input::placeholder {
  color: black;
}

/* input[type=date]::-webkit-input-placeholder::before {
  content: "gaag";
}

input[type=date]::before {
  content: "Select a date";
  color: rgb(117, 117, 117);
}

input[type=date]::placeholder {
  content: none;
} */
